In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import re
import glob
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler, LabelEncoder, OrdinalEncoder, RobustScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score, roc_curve, precision_recall_curve, auc, f1_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression, SGDClassifier, RidgeClassifier, RidgeClassifierCV, PassiveAggressiveClassifier
from sklearn.neighbors import KNeighborsClassifier, NearestCentroid, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, AdaBoostClassifier, AdaBoostRegressor, GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.svm import SVC, SVR
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.neural_network import MLPClassifier, MLPRegressor

In [3]:
df = pd.read_csv('full_insiders_with_prices.csv')
df.head()

,Ticker,Date,Name,AcquiredDisposedCode,TransactionCode,Shares,PricePerShare,SharesOwnedFollowing,fileDate,total_value,...,price_3_week,price_4_week,price_5_week,price_6_week,price_7_week,price_8_week,price_9_week,price_10_week,price_11_week,price_12_week
0,NTRA,2023-12-29 00:00:00,brophy michael burkes,D,S,1377.0,62.2900,64810.0,2023-12-30 02:45:08,85773.3300,...,66.63,65.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NTRA,2023-12-28 00:00:00,brophy michael burkes,D,S,915.0,63.2923,66187.0,2023-12-30 02:45:08,57912.4545,...,67.56,64.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EAF,2023-12-29 00:00:00,bcp gp ltd,D,S,34111.0,2.2164,27370523.0,2023-12-30 02:38:57,75603.6204,...,1.50,1.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EAF,2023-12-29 00:00:00,bcp gp ltd,D,S,2.0,2.2164,27275612.0,2023-12-30 02:38:57,4.4328,...,1.50,1.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EAF,2023-12-29 00:00:00,bcp gp ltd,D,S,3.0,2.2164,27275614.0,2023-12-30 02:38:57,6.6492,...,1.50,1.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Ticker', 'Date', 'Name', 'AcquiredDisposedCode', 'TransactionCode',
       'Shares', 'PricePerShare', 'SharesOwnedFollowing', 'fileDate',
       'total_value', 'TraderFrequency', 'change_in_holdings',
       'individual_transactions_per_trade', 'investors_per_trade',
       'price_2_week', 'price_3_week', 'price_4_week', 'price_5_week',
       'price_6_week', 'price_7_week', 'price_8_week', 'price_9_week',
       'price_10_week', 'price_11_week', 'price_12_week'],
      dtype='object')

In [20]:
gdf = df.drop('fileDate', axis=1)
gdf = df.groupby(['Ticker', 'Date', 'Name', 'TransactionCode', 'AcquiredDisposedCode']).agg({'Shares': 'sum', 'PricePerShare': 'mean', 'SharesOwnedFollowing': 'min', 'total_value': 'sum', 'TraderFrequency': 'mean', 'change_in_holdings': 'sum', 'individual_transactions_per_trade': 'first', 'investors_per_trade': 'first', 'price_2_week': 'mean', 'price_3_week': 'mean', 'price_4_week': 'mean', 'price_5_week': 'mean', 'price_6_week': 'mean', 'price_7_week': 'mean', 'price_8_week': 'mean', 'price_9_week': 'mean', 'price_10_week': 'mean', 'price_11_week': 'mean', 'price_12_week': 'mean'}) 
gdf

                                                                                           Shares  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                      60000.0
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                      62467.0
         2023-12-13 00:00:00 mcmullen michael r.   S               D                       2751.0
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                      26331.0
         2023-12-18 00:00:00 gonsalves rodney      S               D                       1500.0
...                                                                                           ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                     300000.0
         2023-11-16 00:00:00 williams kevin bryan  S               D                     390000.0
         2023-12-04 00:00:00 baggio barbara        S               D                     250000.0
         2023-12-05 00:00:00 baggio barbara        S               D                     290000.0
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                       2595.0

                                                                                         PricePerShare  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                          33.14000
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         130.00000
         2023-12-13 00:00:00 mcmullen michael r.   S               D                         130.00000
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                         138.36000
         2023-12-18 00:00:00 gonsalves rodney      S               D                         137.69200
...                                                                                                ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.01690
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.02525
         2023-12-04 00:00:00 baggio barbara        S               D                           0.01900
         2023-12-05 00:00:00 baggio barbara        S               D                           0.01750
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                          58.11000

                                                                                         SharesOwnedFollowing  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                             0.000000e+00
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                             3.062055e+05
         2023-12-13 00:00:00 mcmullen michael r.   S               D                             3.062055e+05
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                             8.250398e+04
         2023-12-18 00:00:00 gonsalves rodney      S               D                             2.613298e+04
...                                                                                                       ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                             1.707281e+06
         2023-11-16 00:00:00 williams kevin bryan  S               D                             1.317281e+06
         2023-12-04 00:00:00 baggio barbara        S               D                             1.549418e+08
         2023-12-05 00:00:00 baggio barbara        S               D                             1.546518e+08
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                             2.766900e+04

                                                                                         total_value  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                      1988400.00
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                      8120710.00
         2023-12-13 00:00:00 mcmullen michael r.   S               D                       357630.00
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                      3643157.16
         2023-12-18 00:00:00 gonsalves rodney      S               D                       206538.00
...                                                                                              ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                         5070.00
         2023-11-16 00:00:00 williams kevin bryan  S               D                         9890.00
         2023-12-04 00:00:00 baggio barbara        S               D                         4750.00
         2023-12-05 00:00:00 baggio barbara        S               D                         5075.00
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                       150795.45

                                                                                         TraderFrequency  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                                 1.0
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                                 2.0
         2023-12-13 00:00:00 mcmullen michael r.   S               D                                 2.0
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                                 1.0
         2023-12-18 00:00:00 gonsalves rodney      S               D                                 1.0
...                                                                                                  ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                                 4.0
         2023-11-16 00:00:00 williams kevin bryan  S               D                                 4.0
         2023-12-04 00:00:00 baggio barbara        S               D                                48.0
         2023-12-05 00:00:00 baggio barbara        S               D                                48.0
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                                 3.0

                                                                                         change_in_holdings  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                                    inf
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                              20.400349
         2023-12-13 00:00:00 mcmullen michael r.   S               D                               0.898416
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                              31.914823
         2023-12-18 00:00:00 gonsalves rodney      S               D                               5.739873
...                                                                                                     ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                              17.571800
         2023-11-16 00:00:00 williams kevin bryan  S               D                              27.705190
         2023-12-04 00:00:00 baggio barbara        S               D                               0.161351
         2023-12-05 00:00:00 baggio barbara        S               D                               0.187518
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                               9.378727

                                                                                         individual_transactions_per_trade  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                                                     1
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                                                     2
         2023-12-13 00:00:00 mcmullen michael r.   S               D                                                     2
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                                                     1
         2023-12-18 00:00:00 gonsalves rodney      S               D                                                     1
...                                                                                                                    ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                                                     3
         2023-11-16 00:00:00 williams kevin bryan  S               D                                                     3
         2023-12-04 00:00:00 baggio barbara        S               D                                                     2
         2023-12-05 00:00:00 baggio barbara        S               D                                                     2
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                                                     1

                                                                                         investors_per_trade  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                                       1
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                                       4
         2023-12-13 00:00:00 mcmullen michael r.   S               D                                       4
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                                       4
         2023-12-18 00:00:00 gonsalves rodney      S               D                                       4
...                                                                                                      ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                                       3
         2023-11-16 00:00:00 williams kevin bryan  S               D                                       3
         2023-12-04 00:00:00 baggio barbara        S               D                                       3
         2023-12-05 00:00:00 baggio barbara        S               D                                       3
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                                       1

                                                                                         price_2_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         138.9400
         2023-12-13 00:00:00 mcmullen michael r.   S               D                         139.8200
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                         139.0300
         2023-12-18 00:00:00 gonsalves rodney      S               D                              NaN
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0225
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0203
         2023-12-04 00:00:00 baggio barbara        S               D                           0.0234
         2023-12-05 00:00:00 baggio barbara        S               D                           0.0230
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                              NaN

                                                                                         price_3_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         139.7700
         2023-12-13 00:00:00 mcmullen michael r.   S               D                         131.1600
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                         130.5600
         2023-12-18 00:00:00 gonsalves rodney      S               D                         133.3800
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0180
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0175
         2023-12-04 00:00:00 baggio barbara        S               D                              NaN
         2023-12-05 00:00:00 baggio barbara        S               D                           0.0210
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                              NaN

                                                                                         price_4_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         131.0000
         2023-12-13 00:00:00 mcmullen michael r.   S               D                         131.0900
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                         130.5400
         2023-12-18 00:00:00 gonsalves rodney      S               D                              NaN
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0188
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0218
         2023-12-04 00:00:00 baggio barbara        S               D                              NaN
         2023-12-05 00:00:00 baggio barbara        S               D                           0.0195
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                              NaN

                                                                                         price_5_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         129.6800
         2023-12-13 00:00:00 mcmullen michael r.   S               D                         128.1200
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                         131.2200
         2023-12-18 00:00:00 gonsalves rodney      S               D                         132.5500
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0245
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0250
         2023-12-04 00:00:00 baggio barbara        S               D                           0.0175
         2023-12-05 00:00:00 baggio barbara        S               D                           0.0168
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                              NaN

                                                                                         price_6_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         130.4600
         2023-12-13 00:00:00 mcmullen michael r.   S               D                         129.7800
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                         130.9900
         2023-12-18 00:00:00 gonsalves rodney      S               D                              NaN
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0200
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0209
         2023-12-04 00:00:00 baggio barbara        S               D                              NaN
         2023-12-05 00:00:00 baggio barbara        S               D                           0.0183
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                              NaN

                                                                                         price_7_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                         129.8800
         2023-12-13 00:00:00 mcmullen michael r.   S               D                              NaN
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                              NaN
         2023-12-18 00:00:00 gonsalves rodney      S               D                              NaN
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0180
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0175
         2023-12-04 00:00:00 baggio barbara        S               D                           0.0178
         2023-12-05 00:00:00 baggio barbara        S               D                           0.0172
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S               A                              NaN

                                                                                         price_8_week  \
Ticker   Date                Name                  TransactionCode AcquiredDisposedCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S               D                              NaN
A        2023-12-07 00:00:00 mcmullen michael r.   S               D                              NaN
         2023-12-13 00:00:00 mcmullen michael r.   S               D                              NaN
         2023-12-15 00:00:00 ancher-jensen henrik  S               D                              NaN
         2023-12-18 00:00:00 gonsalves rodney      S               D                              NaN
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S               D                           0.0170
         2023-11-16 00:00:00 williams kevin bryan  S               D                           0.0173

In [21]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12498 entries, ('(CALX)', '2023-10-27 00:00:00', 'collins john matthew', 'S', 'D') to ('wi3kpu$w', '2023-11-17 00:00:00', 'devilliers david h jr', 'S', 'A')
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Shares                             12498 non-null  float64
 1   PricePerShare                      12498 non-null  float64
 2   SharesOwnedFollowing               12498 non-null  float64
 3   total_value                        12498 non-null  float64
 4   TraderFrequency                    12498 non-null  float64
 5   change_in_holdings                 12498 non-null  float64
 6   individual_transactions_per_trade  12498 non-null  int64
 7   investors_per_trade                12498 non-null  int64
 8   price_2_week                       11294 non-null  float64
 9   price_3_week                       11198 non-null  float64
 10  price_4_week                       11181 non-null  float64
 11  price_5_week                       10640 non-null  float64
 12  price_6_week                       9442 non-null   float64
 13  price_7_week                       7792 non-null   float64
 14  price_8_week                       6259 non-null   float64
 15  price_9_week                       4955 non-null   float64
 16  price_10_week                      3958 non-null   float64
 17  price_11_week                      2222 non-null   float64
 18  price_12_week                      1208 non-null   float64
dtypes: float64(17), int64(2)
memory usage: 2.0+ MB

In [23]:
gdf = gdf.iloc[:-1,:].reset_index()
gdf.set_index(['Ticker', 'Date'], inplace=True)

In [43]:
gdf['value_cat'] = pd.qcut(gdf['total_value'], q=10, labels=False, duplicates='drop')

X_train, X_test = train_test_split(df, test_size=0.2, stratify=df['value_cat'])

X_test['value_cat'].value_counts()/len(X_test)

value_cat
3    0.100151
8    0.100151
6    0.100151
0    0.100151
5    0.099899
1    0.099899
2    0.099899
7    0.099899
9    0.099899
4    0.099899
Name: count, dtype: float64

In [26]:
correlation = gdf.corr()

correlation['price_4_week'].sort_values(ascending=False)

ValueError: could not convert string to float: 'collins john matthew'

In [30]:
gdf[gdf['TransactionCode'] == 'P']['AcquiredDisposedCode'].value_counts()

AcquiredDisposedCode
A    3789
D      18
Name: count, dtype: int64

In [31]:
gdf[gdf['TransactionCode'] == 'S']['AcquiredDisposedCode'].value_counts()

AcquiredDisposedCode
D    8674
A      16
Name: count, dtype: int64

In [33]:
gdf.drop(['Name'], axis=1, inplace=True)

In [45]:
X_train.reset_index(inplace=True)
X_train = X_train.drop(['Name', 'Ticker', 'fileDate'], axis=1)
X_train['Date'] = pd.to_datetime(X_train['Date'])
X_train

,Date,AcquiredDisposedCode,TransactionCode,Shares,PricePerShare,SharesOwnedFollowing,total_value,TraderFrequency,change_in_holdings,individual_transactions_per_trade,...,price_4_week,price_5_week,price_6_week,price_7_week,price_8_week,price_9_week,price_10_week,price_11_week,price_12_week,value_cat
0,2023-12-05,D,S,5350.0,188.5000,82964.0,1.008475e+06,1,6.448580,1,...,195.49,191.4200,190.940,205.48,NaN,NaN,NaN,NaN,NaN,8
1,2023-11-21,A,P,49202.0,72.6800,18471876.0,3.576001e+06,29,0.266362,29,...,83.30,85.1300,84.710,83.65,80.74,81.88,NaN,NaN,NaN,9
2,2023-12-20,D,S,177.0,2.0367,705819.0,3.604959e+02,1,0.025077,1,...,3.14,2.7477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2023-12-01,D,S,3489.0,24.7800,122508.0,8.645742e+04,4,2.847977,4,...,25.32,24.1600,24.225,24.57,25.73,NaN,NaN,NaN,NaN,4
4,2023-11-20,D,S,2109.0,56.7157,17245.0,1.196134e+05,1,12.229632,1,...,59.82,NaN,NaN,63.26,NaN,59.74,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15888,2023-12-06,D,S,43228.0,11.5500,3500468.0,4.992834e+05,13,1.234921,13,...,12.68,12.4900,11.850,11.70,NaN,NaN,NaN,NaN,NaN,7
15889,2023-11-21,D,S,144003.0,20.0885,6453539.0,2.892804e+06,6,2.231380,6,...,17.95,17.6800,16.580,16.39,16.53,17.33,NaN,NaN,NaN,9
15890,2023-11-16,A,P,1000.0,12.1500,12000.0,1.215000e+04,8,8.333333,8,...,13.10,12.5800,14.270,12.61,14.35,13.91,16.72,NaN,NaN,2
15891,2023-10-31,D,S,100000.0,39.4163,1278124.0,3.941630e+06,4,7.823967,4,...,44.36,48.3200,49.100,57.00,58.02,55.75,52.03,51.29,52.95,9
15892,2023-12-04,D,S,156100.0,19.1131,592.0,2.983555e+06,6,26368.243243,6,...,NaN,16.6700,NaN,17.60,NaN,NaN,NaN,NaN,NaN,9

In [47]:

onehot = OneHotEncoder()
transaction_codes = onehot.fit_transform(X_train[['TransactionCode', 'AcquiredDisposedCode']])
X_train = pd.concat([X_train, pd.DataFrame(transaction_codes.toarray())], axis=1)

X_train

,Date,AcquiredDisposedCode,TransactionCode,Shares,PricePerShare,SharesOwnedFollowing,total_value,TraderFrequency,change_in_holdings,individual_transactions_per_trade,...,price_8_week,price_9_week,price_10_week,price_11_week,price_12_week,value_cat,0,1,2,3
0,2023-12-05,D,S,5350.0,188.5000,82964.0,1.008475e+06,1,6.448580,1,...,NaN,NaN,NaN,NaN,NaN,8,0.0,1.0,0.0,1.0
1,2023-11-21,A,P,49202.0,72.6800,18471876.0,3.576001e+06,29,0.266362,29,...,80.74,81.88,NaN,NaN,NaN,9,1.0,0.0,1.0,0.0
2,2023-12-20,D,S,177.0,2.0367,705819.0,3.604959e+02,1,0.025077,1,...,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,0.0,1.0
3,2023-12-01,D,S,3489.0,24.7800,122508.0,8.645742e+04,4,2.847977,4,...,25.73,NaN,NaN,NaN,NaN,4,0.0,1.0,0.0,1.0
4,2023-11-20,D,S,2109.0,56.7157,17245.0,1.196134e+05,1,12.229632,1,...,NaN,59.74,NaN,NaN,NaN,5,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15888,2023-12-06,D,S,43228.0,11.5500,3500468.0,4.992834e+05,13,1.234921,13,...,NaN,NaN,NaN,NaN,NaN,7,0.0,1.0,0.0,1.0
15889,2023-11-21,D,S,144003.0,20.0885,6453539.0,2.892804e+06,6,2.231380,6,...,16.53,17.33,NaN,NaN,NaN,9,0.0,1.0,0.0,1.0
15890,2023-11-16,A,P,1000.0,12.1500,12000.0,1.215000e+04,8,8.333333,8,...,14.35,13.91,16.72,NaN,NaN,2,1.0,0.0,1.0,0.0
15891,2023-10-31,D,S,100000.0,39.4163,1278124.0,3.941630e+06,4,7.823967,4,...,58.02,55.75,52.03,51.29,52.95,9,0.0,1.0,0.0,1.0
15892,2023-12-04,D,S,156100.0,19.1131,592.0,2.983555e+06,6,26368.243243,6,...,NaN,NaN,NaN,NaN,NaN,9,0.0,1.0,0.0,1.0

In [49]:
X_train.columns

Index([                             'Date',
                    'AcquiredDisposedCode',
                         'TransactionCode',
                                  'Shares',
                           'PricePerShare',
                    'SharesOwnedFollowing',
                             'total_value',
                         'TraderFrequency',
                      'change_in_holdings',
       'individual_transactions_per_trade',
                     'investors_per_trade',
                            'price_2_week',
                            'price_3_week',
                            'price_4_week',
                            'price_5_week',
                            'price_6_week',
                            'price_7_week',
                            'price_8_week',
                            'price_9_week',
                           'price_10_week',
                           'price_11_week',
                           'price_12_week',
                               'value_cat',
                                         0,
                                         1,
                                         2,
                                         3],
      dtype='object')

In [51]:
X_train.loc[:, 3]

0        1.0
1        0.0
2        1.0
3        1.0
4        1.0
        ...
15888    1.0
15889    1.0
15890    0.0
15891    1.0
15892    1.0
Name: 3, Length: 15893, dtype: float64

In [52]:
X_train['Acquired'] = X_train.loc[:, 0]
X_train['Disposed'] = X_train.loc[:, 1]
X_train['Purchase'] = X_train.loc[:, 2]
X_train['Sale'] = X_train.loc[:, 3]

X_train.drop(['TransactionCode', 'AcquiredDisposedCode'], axis=1, inplace=True)

X_train

,Date,Shares,PricePerShare,SharesOwnedFollowing,total_value,TraderFrequency,change_in_holdings,individual_transactions_per_trade,investors_per_trade,price_2_week,...,price_12_week,value_cat,0,1,2,3,Acquired,Disposed,Purchase,Sale
0,2023-12-05,5350.0,188.5000,82964.0,1.008475e+06,1,6.448580,1,2,198.8600,...,NaN,8,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
1,2023-11-21,49202.0,72.6800,18471876.0,3.576001e+06,29,0.266362,29,1,75.4500,...,NaN,9,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,2023-12-20,177.0,2.0367,705819.0,3.604959e+02,1,0.025077,1,2,2.3188,...,NaN,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
3,2023-12-01,3489.0,24.7800,122508.0,8.645742e+04,4,2.847977,4,2,24.8600,...,NaN,4,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,2023-11-20,2109.0,56.7157,17245.0,1.196134e+05,1,12.229632,1,5,59.5800,...,NaN,5,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15888,2023-12-06,43228.0,11.5500,3500468.0,4.992834e+05,13,1.234921,13,5,12.6400,...,NaN,7,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
15889,2023-11-21,144003.0,20.0885,6453539.0,2.892804e+06,6,2.231380,6,9,18.3000,...,NaN,9,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
15890,2023-11-16,1000.0,12.1500,12000.0,1.215000e+04,8,8.333333,8,1,10.6600,...,NaN,2,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
15891,2023-10-31,100000.0,39.4163,1278124.0,3.941630e+06,4,7.823967,4,5,44.2300,...,52.95,9,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
15892,2023-12-04,156100.0,19.1131,592.0,2.983555e+06,6,26368.243243,6,9,17.8400,...,NaN,9,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0

In [57]:
X_train.drop(X_train.iloc[:, 21:25], axis=1, inplace=True)

In [59]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15893 entries, 0 to 15892
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               15893 non-null  datetime64[ns]
 1   Shares                             15893 non-null  float64
 2   PricePerShare                      15893 non-null  float64
 3   SharesOwnedFollowing               15893 non-null  float64
 4   total_value                        15893 non-null  float64
 5   TraderFrequency                    15893 non-null  int64
 6   change_in_holdings                 15892 non-null  float64
 7   individual_transactions_per_trade  15893 non-null  int64
 8   investors_per_trade                15893 non-null  int64
 9   price_2_week                       14263 non-null  float64
 10  price_3_week                       14105 non-null  float64
 11  price_4_week                       14087 non-null  float64
 12  price_5_week                       13316 non-null  float64
 13  price_6_week                       11792 non-null  float64
 14  price_7_week                       9759 non-null   float64
 15  price_8_week                       7829 non-null   float64
 16  price_9_week                       6285 non-null   float64
 17  price_10_week                      4992 non-null   float64
 18  price_11_week                      2699 non-null   float64
 19  price_12_week                      1476 non-null   float64
 20  value_cat                          15893 non-null  int64
 21  Acquired                           15893 non-null  float64
 22  Disposed                           15893 non-null  float64
 23  Purchase                           15893 non-null  float64
 24  Sale                               15893 non-null  float64
dtypes: datetime64[ns](1), float64(20), int64(4)
memory usage: 3.0 MB

In [60]:
correlation = X_train.drop('Date', axis=1).corr()
correlation['price_4_week'].sort_values(ascending=False)

price_4_week                         1.000000
price_5_week                         0.999589
price_3_week                         0.999217
price_6_week                         0.999166
price_7_week                         0.998643
price_8_week                         0.998451
price_9_week                         0.998385
price_2_week                         0.998289
price_12_week                        0.997980
price_10_week                        0.997204
price_11_week                        0.996310
PricePerShare                        0.188564
value_cat                            0.168990
investors_per_trade                  0.137422
individual_transactions_per_trade    0.130751
Sale                                 0.124771
Disposed                             0.124458
TraderFrequency                      0.110183
change_in_holdings                  -0.002781
total_value                         -0.004601
Shares                              -0.018881
SharesOwnedFollowing                -0.033331
Acquired                            -0.124458
Purchase                            -0.124771
Name: price_4_week, dtype: float64

In [32]:
df[df['TransactionCode'] == 'S']['AcquiredDisposedCode'].value_counts()

AcquiredDisposedCode
D    14695
A       18
Name: count, dtype: int64

In [34]:
df['value_cat'] = pd.qcut(df['total_value'], q=10, labels=False, duplicates='drop')

Train, Test = train_test_split(df, test_size=0.2, stratify=df['value_cat'])

Train['value_cat'].value_counts()/len(Train)

value_cat
6    0.100044
0    0.100044
8    0.100044
1    0.099981
2    0.099981
5    0.099981
3    0.099981
4    0.099981
7    0.099981
9    0.099981
Name: count, dtype: float64

In [72]:
corr = correlation.iloc[:, 8:19].drop(correlation.index[8:19])
corr.to_csv('correlation.csv')
corr

,price_2_week,price_3_week,price_4_week,price_5_week,price_6_week,price_7_week,price_8_week,price_9_week,price_10_week,price_11_week,price_12_week
Shares,-0.021765,-0.023093,-0.018881,-0.023028,-0.016578,-0.020688,-0.019591,-0.021859,-0.023594,-0.026169,-0.057999
PricePerShare,0.189563,0.186358,0.188564,0.958628,0.979815,0.156541,0.971505,0.137573,0.989965,0.985996,0.989302
SharesOwnedFollowing,-0.029928,-0.031645,-0.033331,-0.033299,-0.029013,-0.025062,-0.024556,-0.023979,-0.035536,-0.039782,-0.039515
total_value,-0.004461,-0.004594,-0.004601,-0.003856,-0.001189,-0.005053,-0.000832,-0.006225,-0.003456,-0.002148,0.096771
TraderFrequency,0.109700,0.114844,0.110183,0.108152,0.089852,0.092225,0.087704,0.073227,0.076914,0.091100,0.053141
change_in_holdings,-0.002730,-0.002746,-0.002781,-0.002755,-0.005650,-0.006032,-0.002844,-0.005000,-0.004048,-0.007458,0.012941
individual_transactions_per_trade,0.128532,0.134186,0.130751,0.133028,0.126736,0.129766,0.124627,0.107047,0.112774,0.141149,0.089281
investors_per_trade,0.128966,0.138119,0.137422,0.130454,0.126996,0.112070,0.110781,0.108256,0.097055,0.144255,0.037326
value_cat,0.169567,0.173202,0.168990,0.175644,0.176351,0.198910,0.195263,0.209373,0.208016,0.216972,0.239304
Acquired,-0.117434,-0.121630,-0.124458,-0.131369,-0.146443,-0.146451,-0.150260,-0.152649,-0.174039,-0.205402,-0.184763
Disposed,0.117434,0.121630,0.124458,0.131369,0.146443,0.146451,0.150260,0.152649,0.174039,0.205402,0.184763
Purchase,-0.117779,-0.122025,-0.124771,-0.131777,-0.146790,-0.146886,-0.150728,-0.152935,-0.174518,-0.205667,-0.185141
Sale,0.117779,0.122025,0.124771,0.131777,0.146790,0.146886,0.150728,0.152935,0.174518,0.205667,0.185141

In [75]:
corr

,Shares,PricePerShare,SharesOwnedFollowing,total_value,TraderFrequency,change_in_holdings,individual_transactions_per_trade,investors_per_trade,value_cat,Acquired,Disposed,Purchase,Sale
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,-0.024841,0.612165,-0.031422,0.005487,0.091549,-0.002646,0.123443,0.115609,0.193781,-0.150445,0.150445,-0.150820,0.150820
std,0.011296,0.422044,0.005573,0.030321,0.018811,0.005424,0.014839,0.029823,0.023112,0.027840,0.027840,0.027832,0.027832
min,-0.057999,0.137573,-0.039782,-0.006225,0.053141,-0.007458,0.089281,0.037326,0.168990,-0.205402,0.117434,-0.205667,0.117779
25%,-0.023343,0.187461,-0.034434,-0.004597,0.082309,-0.005325,0.118700,0.109518,0.174423,-0.163344,0.127914,-0.163726,0.128274
50%,-0.021859,0.958628,-0.031645,-0.003856,0.091100,-0.002844,0.128532,0.126996,0.195263,-0.146451,0.146451,-0.146886,0.146886
75%,-0.020139,0.982905,-0.027038,-0.001668,0.108926,-0.002750,0.131889,0.133938,0.208694,-0.127914,0.163344,-0.128274,0.163726
max,-0.016578,0.989965,-0.023979,0.096771,0.114844,0.012941,0.141149,0.144255,0.239304,-0.117434,0.205402,-0.117779,0.205667

In [76]:
attributes = ['Shares', 'TraderFrequency', 'value_cat', 'investors_per_trade', 'individual_transactions_per_trade', 'investors_per_trade', 'Purchase', 'Sale']
X_train1 = X_train[attributes]
X_train1

,Shares,TraderFrequency,value_cat,investors_per_trade,individual_transactions_per_trade,investors_per_trade,Purchase,Sale
0,5350.0,1,8,2,1,2,0.0,1.0
1,49202.0,29,9,1,29,1,1.0,0.0
2,177.0,1,0,2,1,2,0.0,1.0
3,3489.0,4,4,2,4,2,0.0,1.0
4,2109.0,1,5,5,1,5,0.0,1.0
...,...,...,...,...,...,...,...,...
15888,43228.0,13,7,5,13,5,0.0,1.0
15889,144003.0,6,9,9,6,9,0.0,1.0
15890,1000.0,8,2,1,8,1,1.0,0.0
15891,100000.0,4,9,5,4,5,0.0,1.0
15892,156100.0,6,9,9,6,9,0.0,1.0

In [77]:
X_train1.describe()

,Shares,TraderFrequency,value_cat,investors_per_trade,individual_transactions_per_trade,investors_per_trade,Purchase,Sale
count,1.589300e+04,15893.000000,15893.000000,15893.000000,15893.000000,15893.000000,15893.000000,15893.000000
mean,2.317778e+05,71.453848,4.499969,4.019757,59.404077,4.019757,0.260429,0.739571
std,2.431668e+06,159.712883,2.872547,2.772113,146.478684,2.772113,0.438883,0.438883
min,0.000000e+00,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,6.900000e+02,2.000000,2.000000,1.000000,2.000000,1.000000,0.000000,0.000000
50%,3.167000e+03,7.000000,4.000000,4.000000,6.000000,4.000000,0.000000,1.000000
75%,1.451000e+04,32.000000,7.000000,6.000000,25.000000,6.000000,1.000000,1.000000
max,1.510000e+08,730.000000,9.000000,15.000000,730.000000,15.000000,1.000000,1.000000

In [79]:
num_atts = ['Shares', 'TraderFrequency', 'value_cat', 'investors_per_trade', 'individual_transactions_per_trade', 'investors_per_trade']
scaled = MinMaxScaler().fit_transform(X_train1[num_atts])
X_train1 = pd.concat([X_train1.drop(num_atts, axis=1), pd.DataFrame(scaled, columns=attributes)], axis=1)
X_train1

,Purchase,Sale,Shares,TraderFrequency,value_cat,investors_per_trade,individual_transactions_per_trade,investors_per_trade,Purchase,Sale
0,0.0,1.0,0.000035,0.000000,0.888889,0.071429,0.071429,0.000000,0.071429,0.071429
1,1.0,0.0,0.000326,0.038409,1.000000,0.000000,0.000000,0.038409,0.000000,0.000000
2,0.0,1.0,0.000001,0.000000,0.000000,0.071429,0.071429,0.000000,0.071429,0.071429
3,0.0,1.0,0.000023,0.004115,0.444444,0.071429,0.071429,0.004115,0.071429,0.071429
4,0.0,1.0,0.000014,0.000000,0.555556,0.285714,0.285714,0.000000,0.285714,0.285714
...,...,...,...,...,...,...,...,...,...,...
15888,0.0,1.0,0.000286,0.016461,0.777778,0.285714,0.285714,0.016461,0.285714,0.285714
15889,0.0,1.0,0.000954,0.006859,1.000000,0.571429,0.571429,0.006859,0.571429,0.571429
15890,1.0,0.0,0.000007,0.009602,0.222222,0.000000,0.000000,0.009602,0.000000,0.000000
15891,0.0,1.0,0.000662,0.004115,1.000000,0.285714,0.285714,0.004115,0.285714,0.285714
15892,0.0,1.0,0.001034,0.006859,1.000000,0.571429,0.571429,0.006859,0.571429,0.571429

In [81]:
X_train1 = X_train1.iloc[:, :-2]
X_train1

,Purchase,Sale,Shares,TraderFrequency,value_cat,investors_per_trade,individual_transactions_per_trade,investors_per_trade
0,0.0,1.0,0.000035,0.000000,0.888889,0.071429,0.071429,0.000000
1,1.0,0.0,0.000326,0.038409,1.000000,0.000000,0.000000,0.038409
2,0.0,1.0,0.000001,0.000000,0.000000,0.071429,0.071429,0.000000
3,0.0,1.0,0.000023,0.004115,0.444444,0.071429,0.071429,0.004115
4,0.0,1.0,0.000014,0.000000,0.555556,0.285714,0.285714,0.000000
...,...,...,...,...,...,...,...,...
15888,0.0,1.0,0.000286,0.016461,0.777778,0.285714,0.285714,0.016461
15889,0.0,1.0,0.000954,0.006859,1.000000,0.571429,0.571429,0.006859
15890,1.0,0.0,0.000007,0.009602,0.222222,0.000000,0.000000,0.009602
15891,0.0,1.0,0.000662,0.004115,1.000000,0.285714,0.285714,0.004115
15892,0.0,1.0,0.001034,0.006859,1.000000,0.571429,0.571429,0.006859

In [83]:
tree = DecisionTreeRegressor()
tree.fit(X_train1, X_train['price_8_week'].fillna(X_train['price_8_week'].mean()))

DecisionTreeRegressor()

In [84]:
from sklearn.metrics import mean_squared_error
pred = tree.predict(X_train1)
tree_mse = mean_squared_error(X_train['price_8_week'].fillna(X_train['price_8_week'].mean()), pred)
tree_rmse = np.sqrt(tree_mse)
print(tree_rmse)

74.89730173996966

In [85]:
import sklearn.metrics
r2tree = sklearn.metrics.r2_score(X_train['price_8_week'].fillna(X_train['price_8_week'].mean()), pred)
print(r2tree)

0.9194118600063523

In [86]:
X_train['price_8_week'].describe()

count    7829.000000
mean      133.493997
std       375.930999
min         0.004000
25%        10.830000
50%        33.510000
75%       142.150000
max      7242.240000
Name: price_8_week, dtype: float64

In [ ]:
def get_price(ticker, date, df=df):
  try:
    return df.loc[(ticker, pd.to_datetime(date)), 'price_6_week']
  except KeyError:
    return np.nan

In [16]:
gdf

,Ticker,Name,TransactionCode,AcquiredDisposedCode,Shares,PricePerShare,SharesOwnedFollowing,total_value,TraderFrequency,change_in_holdings,individual_transactions_per_trade,investors_per_trade
Date,,,,,,,,,,,,
2023-10-27 00:00:00,(CALX),collins john matthew,S,D,60000.0,33.14000,0.000000e+00,1988400.00,1.0,inf,1,1
2023-12-07 00:00:00,A,mcmullen michael r.,S,D,62467.0,130.00000,3.062055e+05,8120710.00,2.0,20.400349,2,4
2023-12-13 00:00:00,A,mcmullen michael r.,S,D,2751.0,130.00000,3.062055e+05,357630.00,2.0,0.898416,2,4
2023-12-15 00:00:00,A,ancher-jensen henrik,S,D,26331.0,138.36000,8.250398e+04,3643157.16,1.0,31.914823,1,4
2023-12-18 00:00:00,A,gonsalves rodney,S,D,1500.0,137.69200,2.613298e+04,206538.00,1.0,5.739873,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-03 00:00:00,vplm,chang dennis,S,D,130000.0,0.01590,3.375358e+06,2067.00,25.0,3.851443,2,3
2023-11-15 00:00:00,vplm,williams kevin bryan,S,D,300000.0,0.01690,1.707281e+06,5070.00,4.0,17.571800,3,3
2023-11-16 00:00:00,vplm,williams kevin bryan,S,D,390000.0,0.02525,1.317281e+06,9890.00,4.0,27.705190,3,3
2023-12-04 00:00:00,vplm,baggio barbara,S,D,250000.0,0.01900,1.549418e+08,4750.00,48.0,0.161351,2,3
2023-12-05 00:00:00,vplm,baggio barbara,S,D,290000.0,0.01750,1.546518e+08,5075.00,48.0,0.187518,2,3

In [19]:
gdf6 = gdf.merge

<class 'pandas.core.frame.DataFrame'>
Index: 12497 entries, 2023-10-27 00:00:00 to 2023-12-05 00:00:00
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Ticker                             12497 non-null  object
 1   Name                               12497 non-null  object
 2   TransactionCode                    12497 non-null  object
 3   AcquiredDisposedCode               12497 non-null  object
 4   Shares                             12497 non-null  float64
 5   PricePerShare                      12497 non-null  float64
 6   SharesOwnedFollowing               12497 non-null  float64
 7   total_value                        12497 non-null  float64
 8   TraderFrequency                    12497 non-null  float64
 9   change_in_holdings                 12497 non-null  float64
 10  individual_transactions_per_trade  12497 non-null  int64
 11  investors_per_trade                12497 non-null  int64
dtypes: float64(6), int64(2), object(4)
memory usage: 1.2+ MB

In [18]:
df.sort_values(by=['Ticker'], inplace=True)
df.head(50)

,Ticker,Name,AcquiredDisposedCode,TransactionCode,Shares,PricePerShare,SharesOwnedFollowing,fileDate,total_value,TraderFrequency,...,price_3_week,price_4_week,price_5_week,price_6_week,price_7_week,price_8_week,price_9_week,price_10_week,price_11_week,price_12_week
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-27 00:00:00,(CALX),collins john matthew,D,S,60000.0,33.1400,0.000000e+00,2023-10-30 21:02:28,1.988400e+06,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-18 00:00:00,A,gonsalves rodney,D,S,1500.0,137.6920,2.613298e+04,2023-12-19 19:34:28,2.065380e+05,1,...,133.3800,NaN,132.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-27 00:00:00,A,binns philip,D,S,2880.0,139.7800,1.282400e+04,2023-12-28 18:46:59,4.025664e+05,1,...,128.1200,129.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-15 00:00:00,A,ancher-jensen henrik,D,S,26331.0,138.3600,8.250398e+04,2023-12-19 19:33:07,3.643157e+06,1,...,130.5600,130.54,131.22,130.99,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-13 00:00:00,A,mcmullen michael r.,D,S,2751.0,130.0000,3.062055e+05,2023-12-15 22:08:59,3.576300e+05,2,...,131.1600,131.09,128.12,129.78,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-07 00:00:00,A,mcmullen michael r.,D,S,62467.0,130.0000,3.062055e+05,2023-12-08 19:59:53,8.120710e+06,2,...,139.7700,131.00,129.68,130.46,129.88,NaN,NaN,NaN,NaN,NaN
2023-12-05 00:00:00,AADI,desai neil,D,S,15740.0,5.0153,1.544580e+06,2023-12-05 23:40:25,7.894082e+04,6,...,2.0100,2.05,1.77,1.64,1.74,NaN,NaN,NaN,NaN,NaN
2023-11-01 00:00:00,AADI,desai neil,D,S,10338.0,4.3185,1.611205e+06,2023-11-02 22:45:44,4.464465e+04,6,...,4.7500,5.35,4.71,5.36,2.06,2.08,1.95,1.77,1.59,1.71
2023-11-02 00:00:00,AADI,desai neil,D,S,31662.0,4.4566,1.579543e+06,2023-11-02 22:45:44,1.411049e+05,6,...,NaN,5.26,4.78,5.37,1.99,2.10,1.84,1.71,1.68,1.73
2023-12-04 00:00:00,AADI,desai neil,D,S,10876.0,5.1477,1.560320e+06,2023-12-05 23:40:25,5.598639e+04,6,...,NaN,NaN,1.86,NaN,1.68,NaN,NaN,NaN,NaN,NaN
2023-12-01 00:00:00,AADI,desai neil,D,S,8347.0,5.1373,1.571196e+06,2023-12-05 23:40:25,4.288104e+04,6,...,1.9700,2.02,1.76,1.72,1.63,1.67,NaN,NaN,NaN,NaN
2023-12-06 00:00:00,AADI,desai neil,D,S,7037.0,4.8194,1.537543e+06,2023-12-07 21:04:07,3.391412e+04,6,...,2.0800,1.95,1.77,1.59,1.71,NaN,NaN,NaN,NaN,NaN
2023-11-21 00:00:00,AAL,raja vasu,D,S,5121.0,12.2900,3.340490e+05,2023-11-21 22:32:18,6.293709e+04,3,...,14.0400,14.30,14.11,13.44,14.38,13.19,14.00,NaN,NaN,NaN
2023-11-20 00:00:00,AAL,raja vasu,D,S,5298.0,12.2300,3.391700e+05,2023-11-20 21:20:21,6.479454e+04,3,...,13.7200,14.24,NaN,NaN,14.58,NaN,13.62,NaN,NaN,NaN
2023-12-14 00:00:00,AAL,raja vasu,D,S,7545.0,14.3000,3.216080e+05,2023-12-14 21:09:44,1.078935e+05,3,...,13.0900,14.59,13.82,15.36,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-14 00:00:00,AAN,johnson timothy a,A,P,20000.0,8.3296,4.425500e+04,2023-11-15 21:14:50,1.665920e+05,1,...,9.9700,10.44,11.19,11.19,11.33,10.99,10.30,10.49,NaN,NaN
2023-11-13 00:00:00,AAN,lindsay douglas a,A,P,50000.0,7.2230,4.237130e+05,2023-11-14 13:39:38,3.611500e+05,1,...,9.8000,10.44,10.97,NaN,NaN,11.46,NaN,10.59,NaN,NaN
2023-11-13 00:00:00,AAN,george rachel g,A,P,7500.0,7.0300,7.500000e+03,2023-11-13 22:28:19,5.272500e+04,1,...,9.8000,10.44,10.97,NaN,NaN,11.46,NaN,10.59,NaN,NaN
2023-12-13 00:00:00,AAN,olsen stephen w,D,S,10000.0,11.0800,9.488500e+04,2023-12-14 21:32:12,1.108000e+05,1,...,11.1600,11.02,10.15,10.44,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-10 00:00:00,AAN,bacdayan wangdali,A,P,20000.0,6.9964,3.289300e+04,2023-11-13 22:29:17,1.399280e+05,1,...,9.4900,10.42,11.09,11.11,10.88,11.32,10.46,10.24,10.73,NaN
2023-11-10 00:00:00,AAN,noe douglass l,A,P,10000.0,6.7900,2.660000e+04,2023-11-13 22:29:27,6.790000e+04,1,...,9.4900,10.42,11.09,11.11,10.88,11.32,10.46,10.24,10.73,NaN
2023-12-15 00:00:00,AAOI,yeh shu-hua (joshua),D,S,20.0,23.7100,2.513310e+05,2023-12-18 23:21:16,4.742000e+02,2,...,20.1500,17.41,15.81,14.99,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-14 00:00:00,AAOI,yeh shu-hua (joshua),D,S,42779.0,22.3947,2.513510e+05,2023-12-18 23:21:16,9.580229e+05,2,...,18.5300,18.34,16.62,16.34,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-26 00:00:00,AAON,wakefield stephen e,D,S,15000.0,74.0000,1.347300e+04,2023-12-27 23:47:12,1.110000e+06,7,...,69.9600,70.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-20 00:00:00,AAON,wakefield stephen e,D,S,21445.0,72.6100,1.347300e+04,2023-12-21 17:40:34,1.557121e+06,7,...,71.8500,70.00,69.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-27 00:00:00,AAON,thompson rebecca,D,S,5000.0,64.0000,1.510700e+04,2023-11-29 21:51:29,3.200000e+05,1,...,70.7400,NaN,NaN,73.70,NaN,72.10,NaN,NaN,NaN,NaN
2023-11-27 00:00:00,AAON,asbjornson norman h,D,S,1707.0,63.9700,1.572200e+05,2023-11-29 21:53:33,1.091968e+05,3,...,70.7400,NaN,NaN,73.70,NaN,72.10,NaN,NaN,NaN,NaN
2023-11-27 00:00:00,AAON,asbjornson norman h,D,S,3438.0,63.9000,1.537820e+05,2023-11-29 21:53:33,2.196882e+05,3,...,70.7400,NaN,NaN,73.70,NaN,72.10,NaN,NaN,NaN,NaN
2023-12-19 00:00:00,AAON,wakefield stephen e,D,S,18064.0,72.2900,1.347300e+04,2023-12-21 17:40:34,1.305847e+06,7,...,72.6800,69.96,70.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-20 00:00:00,AAON,wakefield stephen e,D,S,20491.0,72.9300,1.347300e+04,2023-12-21 17:40:34,1.494409e+06,7,...,71.8500,70.00,69.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-27 00:00:00,AAON,wakefield stephen e,D,S,15000.0,75.0000,1.347300e+04,2023-12-27 23:47:12,1.125000e+06,7,...,70.0000,69.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-14 00:00:00,AAON,wakefield stephen e,D,S,76000.0,70.3100,1.347300e+04,2023-12-18 22:29:13,5.343560e+06,7,...,73.7400,71.33,70.35,70.24,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-05 00:00:00,AAON,asbjornson norman h,D,S,99884.0,63.4800,5.389800e+04,2023-12-07 21:26:01,6.340636e+06,3,...,74.1500,73.90,72.68,69.96,70.70,NaN,NaN,NaN,NaN,NaN
2023-12-15 00:00:00,AAON,wakefield stephen e,D,S,30000.0,71.8800,1.347300e+04,2023-12-18 22:29:13,2.156400e+06,7,...,72.4500,70.82,70.32,69.94,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-05 00:00:00,AAP,soler kristen l,A,P,1000.0,52.8675,1.219700e+04,2023-12-06 21:41:17,5.286750e+04,2,...,60.9200,61.95,61.39,61.40,66.08,NaN,NaN,NaN,NaN,NaN
2023-12-08 00:00:00,AAP,soler kristen l,A,P,500.0,55.6000,1.269700e+04,2023-12-13 21:06:11,2.780000e+04,2,...,61.0300,61.52,61.30,63.75,66.25,NaN,NaN,NaN,NaN,NaN
2023-11-29 00:00:00,AAPL,kondo chris,D,S,5513.0,192.0000,2.917400e+04,2023-12-01 23:32:18,1.058496e+06,2,...,194.8300,193.15,184.25,186.19,182.68,194.50,NaN,NaN,NaN,NaN
2023-11-10 00:00:00,AAPL,kondo chris,D,S,4806.0,184.0400,3.468700e+04,2023-11-14 23:31:09,8.844962e+05,2,...,191.2400,195.71,197.57,193.60,192.53,181.18,185.92,191.56,192.42,NaN
2023-11-17 00:00:00,AAPL,adams katherine l.,D,S,123448.0,188.7900,0.000000e+00,2023-11-20 23:31:21,2.330575e+07,1,...,195.7100,197.57,193.60,192.53,181.18,185.92,191.56,192.42,NaN,NaN
2023-12-26 00:00:00,ABBV,donoghoe nicholas,D,S,2912.0,154.7200,5.590300e+04,2023-12-28 22:00:12,4.505446e+05,1,...,161.4800,167.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-06 00:00:00,ABCL,montalbano john s.,A,P,20000.0,4.6400,7.600000e+04,2023-11-08 20:29:53,9.280000e+04,2,...,4.5300,4.64,4.79,5.32,NaN,NaN,5.97,NaN,5.51,NaN
2023-11-08 00:00:00,ABCL,montalbano john s.,A,P,10000.0,4.4600,8.600000e+04,2023-11-08 20:29:53,4.460000e+04,2,...,4.7800,4.85,5.04,5.43,5.80,5.70,5.63,5.27,5.26,NaN
2023-11-15 00:00:00,ABG,maritz philip f,D,S,567.0,223.2300,8.173000e+03,2023-11-17 21:09:23,1.265714e+05,3,...,214.6200,221.75,221.79,223.99,208.67,210.44,202.54,205.07,NaN,NaN
2023-11-15 00:00:00,ABG,maritz philip f,D,S,100.0,223.0100,8.740000e+03,2023-11-17 21:09:23,2.230100e+04,3,...,214.6200,221.75,221.79,223.99,208.67,210.44,202.54,205.07,NaN,NaN
2023-12-14 00:00:00,ABG,maritz philip f,D,S,1651.0,227.6500,6.522000e+03,2023-12-15 22:03:49,3.758502e+05,3,...,207.0000,209.50,203.40,211.59,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-14 00:00:00,ABG,clara daniel,D,S,4618.0,237.1100,6.047000e+03,2023-12-15 22:03:18,1.094974e+06,1,...,207.0000,209.50,203.40,211.59,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-16 00:00:00,ABL,gusky adam samuel,A,P,7200.0,6.1640,1.771800e+04,2023-11-20 23:57:24,4.438080e+04,2,...,7.0955,8.25,8.15,10.07,10.61,11.25,11.50,12.08,NaN,NaN
2023-11-16 00:00:00,ABL,mcnealy sean,A,P,300.0,6.1700,1.259355e+07,2023-11-20 23:15:43,1.851000e+03,1,...,7.0955,8.25,8.15,10.07,10.61,11.25,11.50,12.08,NaN,NaN
2023-11-17 00:00:00,ABL,gusky adam samuel,A,P,5000.0,6.0200,2.271800e+04,2023-11-20 23:57:24,3.010000e+04,2,...,7.0000,8.05,8.26,9.66,10.42,11.11,12.00,12.38,NaN,NaN
2023-12-13 00:00:00,ABM,newborn andrea r,D,S,9766.0,48.3000,4.272200e+04,2023-12-15 23:04:58,4.716978e+05,1,...,43.4000,42.78,41.47,42.03,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.set_index('Date', inplace=True)
df

In [11]:
gdf

                                                                      Shares  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                 60000.0
A        2023-12-07 00:00:00 mcmullen michael r.   S                 62467.0
         2023-12-13 00:00:00 mcmullen michael r.   S                  2751.0
         2023-12-15 00:00:00 ancher-jensen henrik  S                 26331.0
         2023-12-18 00:00:00 gonsalves rodney      S                  1500.0
...                                                                      ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                300000.0
         2023-11-16 00:00:00 williams kevin bryan  S                390000.0
         2023-12-04 00:00:00 baggio barbara        S                250000.0
         2023-12-05 00:00:00 baggio barbara        S                290000.0
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                  2595.0

                                                                    PricePerShare  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                     33.14000
A        2023-12-07 00:00:00 mcmullen michael r.   S                    130.00000
         2023-12-13 00:00:00 mcmullen michael r.   S                    130.00000
         2023-12-15 00:00:00 ancher-jensen henrik  S                    138.36000
         2023-12-18 00:00:00 gonsalves rodney      S                    137.69200
...                                                                           ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                      0.01690
         2023-11-16 00:00:00 williams kevin bryan  S                      0.02525
         2023-12-04 00:00:00 baggio barbara        S                      0.01900
         2023-12-05 00:00:00 baggio barbara        S                      0.01750
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                     58.11000

                                                                    SharesOwnedFollowing  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                        0.000000e+00
A        2023-12-07 00:00:00 mcmullen michael r.   S                        3.062055e+05
         2023-12-13 00:00:00 mcmullen michael r.   S                        3.062055e+05
         2023-12-15 00:00:00 ancher-jensen henrik  S                        8.250398e+04
         2023-12-18 00:00:00 gonsalves rodney      S                        2.613298e+04
...                                                                                  ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                        1.707281e+06
         2023-11-16 00:00:00 williams kevin bryan  S                        1.317281e+06
         2023-12-04 00:00:00 baggio barbara        S                        1.549418e+08
         2023-12-05 00:00:00 baggio barbara        S                        1.546518e+08
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                        2.766900e+04

                                                                   AcquiredDisposedCode  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                                  D
A        2023-12-07 00:00:00 mcmullen michael r.   S                                  D
         2023-12-13 00:00:00 mcmullen michael r.   S                                  D
         2023-12-15 00:00:00 ancher-jensen henrik  S                                  D
         2023-12-18 00:00:00 gonsalves rodney      S                                  D
...                                                                                 ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                                  D
         2023-11-16 00:00:00 williams kevin bryan  S                                  D
         2023-12-04 00:00:00 baggio barbara        S                                  D
         2023-12-05 00:00:00 baggio barbara        S                                  D
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                                  A

                                                                    total_value  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                 1988400.00
A        2023-12-07 00:00:00 mcmullen michael r.   S                 8120710.00
         2023-12-13 00:00:00 mcmullen michael r.   S                  357630.00
         2023-12-15 00:00:00 ancher-jensen henrik  S                 3643157.16
         2023-12-18 00:00:00 gonsalves rodney      S                  206538.00
...                                                                         ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                    5070.00
         2023-11-16 00:00:00 williams kevin bryan  S                    9890.00
         2023-12-04 00:00:00 baggio barbara        S                    4750.00
         2023-12-05 00:00:00 baggio barbara        S                    5075.00
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                  150795.45

                                                                    TraderFrequency  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                            1.0
A        2023-12-07 00:00:00 mcmullen michael r.   S                            2.0
         2023-12-13 00:00:00 mcmullen michael r.   S                            2.0
         2023-12-15 00:00:00 ancher-jensen henrik  S                            1.0
         2023-12-18 00:00:00 gonsalves rodney      S                            1.0
...                                                                             ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                            4.0
         2023-11-16 00:00:00 williams kevin bryan  S                            4.0
         2023-12-04 00:00:00 baggio barbara        S                           48.0
         2023-12-05 00:00:00 baggio barbara        S                           48.0
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                            3.0

                                                                    change_in_holdings  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                               inf
A        2023-12-07 00:00:00 mcmullen michael r.   S                         20.400349
         2023-12-13 00:00:00 mcmullen michael r.   S                          0.898416
         2023-12-15 00:00:00 ancher-jensen henrik  S                         31.914823
         2023-12-18 00:00:00 gonsalves rodney      S                          5.739873
...                                                                                ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                         17.571800
         2023-11-16 00:00:00 williams kevin bryan  S                         27.705190
         2023-12-04 00:00:00 baggio barbara        S                          0.161351
         2023-12-05 00:00:00 baggio barbara        S                          0.187518
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                          9.378727

                                                                    individual_transactions_per_trade  \
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                                                1
A        2023-12-07 00:00:00 mcmullen michael r.   S                                                2
         2023-12-13 00:00:00 mcmullen michael r.   S                                                2
         2023-12-15 00:00:00 ancher-jensen henrik  S                                                1
         2023-12-18 00:00:00 gonsalves rodney      S                                                1
...                                                                                               ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                                                3
         2023-11-16 00:00:00 williams kevin bryan  S                                                3
         2023-12-04 00:00:00 baggio barbara        S                                                2
         2023-12-05 00:00:00 baggio barbara        S                                                2
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                                                1

                                                                    investors_per_trade
Ticker   Date                Name                  TransactionCode
(CALX)   2023-10-27 00:00:00 collins john matthew  S                                  1
A        2023-12-07 00:00:00 mcmullen michael r.   S                                  4
         2023-12-13 00:00:00 mcmullen michael r.   S                                  4
         2023-12-15 00:00:00 ancher-jensen henrik  S                                  4
         2023-12-18 00:00:00 gonsalves rodney      S                                  4
...                                                                                 ...
vplm     2023-11-15 00:00:00 williams kevin bryan  S                                  3
         2023-11-16 00:00:00 williams kevin bryan  S                                  3
         2023-12-04 00:00:00 baggio barbara        S                                  3
         2023-12-05 00:00:00 baggio barbara        S                                  3
wi3kpu$w 2023-11-17 00:00:00 devilliers david h jr S                                  1

[12497 rows x 9 columns]

In [ ]:
gdf.reset_index(inplace=True)
gdf.set_index('Date', inplace=True)
gdf

In [ ]:
onehot = OneHotEncoder(sparse=False)
transaction_onehot = onehot.fit_transform(insiders[['TransactionCode']])
transaction_onehot = pd.DataFrame(transaction_onehot, columns=onehot.categories_[0])
insiders = pd.concat([insiders, transaction_onehot], axis=1)
insiders.head()
insiders['Purchase?'] = insiders['P']
insiders.drop(columns=['P'], inplace=True)
insiders.drop(columns=['TransactionCode', 'AcquiredDisposedCode'], inplace=True)
insiders.head()